* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #05080d;
  color: white;
}


/* ================= HEADER ================= */

header {
  height: 110px;
  padding: 0 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #05080d;
  border-bottom: 1px solid #1d232c;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo > span {
  font-size: 45px;
}

.logo h2 {
  font-size: 28px;
}

.logo small {
  color: #f3c44f;
  font-size: 10px;
  letter-spacing: 1px;
}


/* ================= NAVIGATION ================= */

nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

nav a:hover,
nav .active {
  color: #f3c44f;
}

nav .book {
  color: #f3c44f;

  border: 1px solid #8b6b2b;

  padding: 16px 22px;

  border-radius: 6px;
}


/* ================= HERO ================= */

.hero {
  min-height: 650px;

  display: grid;
  grid-template-columns: 40% 60%;

  overflow: hidden;
}


/* LEFT SIDE */

.hero-content {
  padding: 80px 5% 60px 12%;

  background: #05080d;

  position: relative;
  z-index: 2;
}

.welcome {
  color: #f3c44f;

  font-size: 15px;
  font-weight: bold;

  letter-spacing: .3px;

  margin-bottom: 20px;
}

.hero h1 {
  font-size: 62px;

  line-height: 1.08;

  letter-spacing: -2px;
}

.hero h1 span {
  color: #f3c44f;
}

.line {
  width: 90px;
  height: 2px;

  background: #f3c44f;

  margin: 28px 0;
}

.text {
  color: #d0d3d7;

  font-size: 16px;

  line-height: 1.8;
}


/* ================= BUTTONS ================= */

.buttons {
  display: flex;

  gap: 15px;

  margin-top: 35px;
}

.btn {
  display: inline-block;

  padding: 16px 22px;

  border-radius: 6px;

  text-decoration: none;

  font-size: 13px;

  font-weight: bold;

  transition: .3s;
}

.gold {
  background: #f3c44f;

  color: #111;
}

.gold:hover {
  background: #ffd96b;

  transform: translateY(-2px);
}

.dark {
  border: 1px solid #806328;

  color: white;
}

.dark:hover {
  border-color: #f3c44f;

  color: #f3c44f;
}


/* ================= RATING ================= */

.rating {
  display: flex;

  align-items: center;

  gap: 
